table td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.edit {
  background-image: linear-gradient(195deg, #f5e616, #978104);
}

.edit:hover {
  background-image: linear-gradient(195deg, #dfdfba, #d6cc93);
}

.delete {
  background-image: linear-gradient(195deg, #fd4747, #970202);
}

.delete:hover {
  background-image: linear-gradient(195deg, #dfbaba, #d69393);
}
